* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

/* Main container */
.container {
  margin: auto;
  width: 100%;
  max-width: 2000px;
  min-height: 100vh;
}

.go-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 50px;
  border: none;
  border-radius: 50%;
  padding: 15px;
  z-index: 20;
  cursor: pointer;
  transition: 0.2s;
  color: inherit;
  font-weight: 700;
}
.go-top:hover {
  transform: translateY(-5px);
}

/* Header */
.header {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
}
.header > h1 {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.header > button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
.header > button > i {
  font-size: 17px;
  color: inherit;
  margin-right: 10px;
}

/* Home Body */
.body-container {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
}

.search-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 40%;
  position: relative;
}
.form > input {
  font-size: 18px;
  width: 100%;
  height: 100%;

  padding: 13px;
  padding-left: 70px;
  border: none;
  border-radius: 8px;
  color: inherit;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.form > input:focus {
  outline: none;
}
.form > i {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.countries-div {
  padding-top: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

/* Country Card */
.card {
  width: 100%;
  min-height: 300px;
  border: none;
  border-radius: 4px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.card:hover {
  transform: translateY(-4px);
}
.card-top {
  width: 100%;
  height: 50%;
}
.card-top > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card-bottom {
  width: 100%;
  bottom: 50%;

  padding: 18px;
}
.card-bottom > h4 {
  font-size: 20px;
  font-weight: 700;
}
.card-bottom > p {
  margin-top: 2px;
  font-size: 13px;
}
.card-population {
  margin-top: 14px !important;
}

/* Info Div */

.info-div {
  width: 100%;
  height: 100%;
  padding: 50px 100px;
}
.back-btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  color: inherit;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.back-btn:hover {
  transform: translateY(-3px);
}
.back-btn > i {
  margin-right: 5px;
}
.info-div > div {
  margin-top: 50px;

  display: flex;
  min-height: 580px;
}

.info-left-div {
  width: 50%;
  height: 100%;
}
.info-left-div > img {
  width: 100%;
  height: 100%;
}

.info-right-div {
  width: 50%;
  height: 100%;

  padding-left: 120px;
  padding-top: 40px;
}
.info-right-div > h3 {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.info-right-div > div {
  margin-top: 30px;

  width: 100%;
  display: flex;
}
.div-left-info {
  width: 50%;
}
.div-left-info > p,
.div-right-info > p {
  margin-top: 6px;
}
.div-left-info span,
.div-right-info span {
  color: #a8a4a4;
  margin-left: 4px;
}
.div-right-info {
  width: 50%;
  padding-left: 10px;
}

.info-right-div > p {
  margin-top: 100px;
}

.border-countries {
  margin-top: 30px !important;
}

/* Responsive */

@media (max-width: 1000px) {
  .body-container {
    padding: 50px 60px;
  }
  .countries-div {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .info-div {
    padding: 40px 60px;
  }
  .info-right-div {
    padding-top: 20px;
    padding-left: 60px;
  }
}

@media (max-width: 800px) {
  .form {
    width: 60%;
  }

  .info-div {
    padding: 30px 40px;
  }
  .info-right-div {
    padding-top: 0px;
    padding-left: 40px;
  }
  .info-right-div > div {
    margin-top: 10px;
  }
  .info-right-div h3 {
    font-size: 18px;
  }
  .info-right-div p {
    font-size: 14px;
  }
  .info-right-div span {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 20px 40px;
  }
  .body-container {
    padding: 40px 40px;
  }
  .countries-div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 20px 30px;
  }
  .header > h1 {
    font-size: 17px;
  }
  .header > button {
    font-size: 12px;
  }
  .form {
    width: 80%;
  }
  .body-container {
    padding: 40px 30px;
  }
  .countries-div {
    gap: 10px;
  }

  .info-div {
    padding: 10px 20px;
  }
  .info-div > div {
    margin-top: 20px;
  }
  .info-right-div {
    padding-top: 0px;
    padding-left: 10px;
  }
  .info-right-div > div {
    margin-top: 5px;
  }
  .info-right-div h3 {
    font-size: 15px;
  }
  .info-right-div p {
    font-size: 12px;
  }
  .info-right-div span {
    font-size: 12px;
  }
  .border-countries {
    margin-top: 10px !important;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 14px 20px;
  }
  .header > h1 {
    font-size: 14px;
  }
  .body-container {
    padding-top: 30px;
  }
  .form {
    width: 100%;
  }
  .countries-div {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .card {
    width: 95%;
    margin-top: 30px;
  }

  .info-div {
    padding: 10px 20px;
  }
  .info-div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .info-left-div {
    width: 95%;
  }
  .info-right-div {
    width: 95%;
  }
  .info-right-div > div {
    flex-direction: column;
    margin-top: 5px;
  }
  .info-right-div h3 {
    margin-top: 20px;
    font-size: 18px;
  }
  .info-right-div p {
    margin-top: 10px;
    font-size: 14px;
  }
  .info-right-div span {
    font-size: 14px;
  }
  .div-left-info {
    width: 100%;
  }
  .div-right-info {
    margin-top: 30px;
    width: 100%;
    padding-left: 0px !important;
  }
  .border-countries {
    margin-top: 30px !important;
  }
}